.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* Shared Style  */

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    color: #0D1321;
    border-radius: 10px;

}

.text-center {
    text-align: center;
}


/* nav style  */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    padding: 40px;
}

nav .nav-title {
    font-weight: 800;
    font-size: 28px;
}


/* banner style  */
.contact-btn {
    color: #FFFFFF;
    background-color: #0D1321;
}

.banner-bg {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 752px;
}

.banner-content {
    
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 221px 150px;

}

.banner-content input:hover {
    cursor: pointer;
    color: blue;
}



.banner-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.banner-description {
    padding-bottom: 32px;
    font-size: 15px;
    text-align: center;
    line-height: 1.5;
}

/* Web Dev Style  */

.web-dev {
    background-color: rgb(234, 241, 241);
    border-radius: 20px;
    margin: 36px 70px 26px;
    padding: 35px 15px; 
}

.web-dev-title, .inspiration-title {
    font-size: 32px;
    margin: 30px 245px 15px;
}


.web-dev-btn {
    font-size: 20px;
    color: #0D1321;
}

.web-dev-btn:hover {
    color: blue;
    cursor: pointer;

}


.web-dev-description {
    line-height: 26px;
    font-size: 16px;
    padding: 24px 0px 24px;
    margin: 30px 245px 15px;
    text-align: center;
}

.inspiration-description {
    line-height: 26px;
    font-size: 16px;
    padding: 24px 55px 48px;
    margin: 30px 95px 15px;
}

.iframe-border {
    border: 1px solid rgb(163, 163, 167);
    padding: 20px 0px;
    border-radius: 10px;
}


.iframe-border iframe {
    border-radius: 10px;
}

.web-dev-1 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 1px;
    background-color: cyan;
    margin: 30px 245px 0px;
}

.web-dev-left-title {
    font-weight: 600;
    font-size: 24px;
}

.web-dev-left-description {
    padding: 16px 0 32px 0;
}

.web-dev-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    margin: 30px 245px 15px;
    background-color: rgb(243, 160, 145);
}

.web-dev-3 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    margin: 30px 245px 15px;
    background-color: rgb(200, 238, 97);
}

/* Inspiration Styles */

.inspiration {
    margin: 74px 245px 0px;
    padding-bottom: 50px;
}


/* Current Target Styles  */


.current-target {
    margin: 30px 310px;

}

.current-target-content {
    display: flex;
    /* align-items: center;  */
    gap: 10px;
    justify-content: center;
}

.current-target-content-one {
    background-color: rgb(236, 221, 221);
    border-radius: 10px;
    padding: 10px;
}

.current-target-content-two {
    background-color: rgb(156, 163, 163);
    border-radius: 10px;
    padding: 10px;
}

.current-target-content-three {
    background-color: rgb(221, 255, 234);
    border-radius: 10px;
    padding: 10px;
}

.current-target-logo {
    padding: 10px 0;
}
.current-target-title {
    font-size: 24px;
    padding: 10px 0;
}

.current-target-description {
    font-size: 16px;
    color: #0D1321;
    padding-bottom: 30px;
}

.learn-more {
    color: #0D1321;
    text-decoration: none;
    border-bottom: 1px solid #0D1321;
}

.learn-more:hover {
    color: blue;
    
}

/* Support Styles  */

.support{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 313px;
    margin: 74px 304px 15px;
    border-radius: 20px;
  }

.support::after{
  background-color: rgba(37, 36, 36, 0.3);
  content: '';
  display: block;
  position: absolute;
  
}


.support-content{
    margin: 0 150px;
}

.support-title {
    padding: 35px 0 5px 0;
    color: #FFFFFF;
}

.support-description {
    padding-top: 25px;
    line-height: 1.5;
    color: #FFFFFF;
    padding-bottom: 35px;
}


.support-input {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.support-input input[type="text"] {
    width: 548px;
    height: 57px;
    background-color: #FFFFFF ;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding: 0 5px;
}

.support-input-button {
    width: 120px;
    height: 57px;
    background-color: #FFFFFF ;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    
}

.support-input-button:hover {
    cursor: pointer;    
}


/* footer styles  */

.footer-icon {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    margin: 74px 304px 15px;
}

.scroll-top {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10px;
}

.scroll-top button {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: cyan;
}

.scroll-top button:hover {
    cursor: pointer;
}

.footer-title {
    font-size: 16px;
}


.footer-icons {
    font-size: 20px;
 
}