.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* Shared Style  */

.btn-primary {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    color: #0D1321;
    border-radius: 10px;

}

.text-center {
    text-align: center;
}

/* nav style  */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    padding: 40px;
}

nav .nav-title {
    font-weight: 800;
    font-size: 28px;
}


/* banner style  */
.contact-btn {
    color: #FFFFFF;
    background-color: #0D1321;
}

.banner-bg {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 752px;
}

.banner-content {
    
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 221px 150px;

}

.banner-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    padding-top: 32px;
    padding-bottom: 24px;
}

.banner-description {
    padding-bottom: 32px;
    font-size: 16px;
}

/* Web Dev Style  */

.web-dev {
    margin: 74px 245px 0px;
}

.web-dev-title, .inspiration-title {
    font-size: 32px;
}

.web-dev-btn {
    font-size: 20px;
    color: #0D1321;
}


.web-dev-description, .inspiration-description {
    line-height: 26px;
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 48px;
}

.web-dev-1 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding-top: 40px;
}

.web-dev-left-title {
    font-weight: 600;
    font-size: 24px;
}

.web-dev-left-description {
    padding: 16px 0 32px 0;
}

.web-dev-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 100px;
    align-items: center;
    padding-top: 80px;
}

.web-dev-3 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding-top: 80px;
}

/* Inspiration Styles */

.inspiration {
    margin: 74px 245px 0px;
    padding-bottom: 50px;
}


/* Current Target Styles  */


.current-target {
    margin: 74px 245px 0px;
}

.current-target-content {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    gap: 25px;
}

.current-target-logo {
    padding: 10px 0;
}
.current-target-title {
    font-size: 24px;
    padding: 10px 0;
}

.current-target-description {
    font-size: 16px;
    color: #0D1321;
    padding-bottom: 15px;
}

.learn-more {
    color: #0D1321;
    text-decoration: none;
    border-bottom: 1px solid #0D1321;
}

.learn-more:hover {
    color: blue;
    
}

/* Support Styles  */

.support{
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 313px;
    margin: 74px 245px 15px;
  }

.support::before{
  background-color: rgba(255, 255, 255, 0.9);
  content: '';
  display: block;
  position: absolute;
  
}


.support-content{
    margin: 0 150px;
}

.support-title {
    padding: 35px 0 5px 0;
    color: #FFFFFF;
}

.support-description {
    padding-top: 25px;
    line-height: 1.5;
    color: #FFFFFF;
    padding-bottom: 35px;
}


.support-input {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center;
}

.support-input input[type="text"] {
    width: 548px;
    height: 57px;
    background-color: #FFFFFF ;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    padding: 0 5px;
}

.support-input-button {
    width: 120px;
    height: 57px;
    background-color: #FFFFFF ;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    
}

